.btn{
    --bs-btn-padding-y: 0.5rem; 
    --bs-btn-padding-x: 1.75rem;  
}
button, input, optgroup, select, textarea {
    margin: 14px;
}
.flex-data{
    display:flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 4px solid white;
    padding: 10px;
}

.data-item{
    width: 20vw;
}