<nav class="navbar navbar-inverse navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div class="d-flex flex-row-reverse">
    <button class="btn btn-danger navbar-btn">Log out</button>
    <button class="btn btn-danger navbar-btn">History</button>
    <button class="btn btn-danger navbar-btn">Currensdiopjfsdikmf</button>
  </div>
  </div>
</nav>
<div class="container-fluid">
<button type="button" class="btn btn-secondary btn-lg btn-block">Host name Room    Sign in Time</button>
</div>
<p>foasdknsdknfkslfdksdmakl</p>