
<nav class="navbar navbar-inverse navbar-dark bg-dark navbar sticky-top " >
  <div class="container-fluid">
    <img src="https://www.cse.iitb.ac.in/images/iitblogowhite.png" alt="IIT_Logo" style="height: 104px;">
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success" type="submit">Search</button>
    </form>
    <div class="d-flex flex-row-reverse">
    <button class="btn btn-danger navbar-btn" routerLink="/">Log out</button>
    <button class="btn btn-success navbar-btn" routerLink="/history">History</button>
    <button class="btn btn-success navbar-btn" disabled>Current Visitors</button>
    <button class="btn btn-success navbar-btn" routerLink="/info">Back</button>
  </div>
  </div>
</nav>
<div class="bg-secondary" >
  <div class="d-grid gap-0.1" *ngFor=" let data of indata">
    <div class="flex-data" *ngIf="data.h_num == h_num">
    
      <div class="d-flex mr-5 ml-5">
        <div>{{data.name_1}}</div>
        <div>{{data.name_2}}</div>
        <div>{{data.rollnum_1}}</div>
        <div>{{data.rollnum_2}}</div>            
      </div>
   
  </div>
</div>
  
