<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hostel_entry-exit</title>
    <style>*{
      background-color: rgb(27, 27, 27);
      color: rgb(149, 153, 153);
      margin: 2px;
  }
  </style>
</head>
<body>
    
</body>
</html>

<nav class="navbar navbar-expand-lg bg-body-tertiary" style=" border: solid white; border-width: 5px;">
  <div class="container-fluid">
    <img src="https://imgs.search.brave.com/PPNoWYw1K0fGHgeXhrJe7lQNzfCmrq3p6psBF1K5zG4/rs:fit:487:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5s/M3RLX05lZzBET2hR/MmNyTTdOSG53SGFI/TiZwaWQ9QXBp" alt="" style="height: 60px;">
    <a class="navbar-brand" href="#" style="color: white;">Hostel Entry Exit</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="color: white;">Home</a>
        </li> -->
        <button class="btn btn-success navbar-btn" routerLink="/dashboard">Dashboard</button>
        <button class="btn btn-success navbar-btn" routerLink="/login">Back</button>
        
      </ul>
      
      <button class="btn btn-success navbar-btn" routerLink="/login"> Log out</button>
      
    </div>
  </div>
</nav>
<div   >
<div class="container text-center"  style="margin: 3px;" >
  <div class="row">
    <div class="col" style="border: solid white;">
      <div class="card" style="width: 15rem;" >
        <img src="https://imgs.search.brave.com/Fb01hv_9_ZkKDdztFAOQl0ebj33lR9KHph5aHGcguEw/rs:fit:464:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5O/MERWZ2pMYW53eHFL/OE5PMUJpTVBRSGFI/ayZwaWQ9QXBp" class="card-img-top" alt="...">
        <div class="card-body">
        
          <p class="card-text"><h2>Visitor 1</h2>
        </div>
        <ul class="list-group list-group-flush">
          <button class="btn btn-dark"   type="button" style="border: dotted white;">
          <li class="list-group-item" ><h3 >Name :</h3></li> </button>
          <button class="btn btn-dark"   type="button" style="border: dotted white;">
          <li class="list-group-item"><h3>Hostel no. : </h3> </li></button>
          <button class="btn btn-dark"   type="button" style="border: dotted white ;">
          <li class="list-group-item"><h3>Room no. : </h3></li></button>
          <button class="btn btn-dark"   type="button" style="border: dotted white;">
          <li class="list-group-item"><h3>Entry Time : </h3></li></button>
        
        </ul>
        
      </div>
    </div>
    <div class="col order-5">
      <div style="border: solid white;" >
        <div class="card" style="width: 15rem; ">
          <img src="https://imgs.search.brave.com/Fb01hv_9_ZkKDdztFAOQl0ebj33lR9KHph5aHGcguEw/rs:fit:464:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5O/MERWZ2pMYW53eHFL/OE5PMUJpTVBRSGFI/ayZwaWQ9QXBp" class="card-img-top" alt="..." >
          <div class="card-body">
            
            <p class="card-text"><h2>Visitor 2</h2> 
          </div>
          <ul class="list-group list-group-flush">
            <button class="btn btn-dark"   type="button" style="border: dotted white;">
            <li class="list-group-item" ><h3>Name : </h3></li></button>
            <button class="btn btn-dark"   type="button" style="border: dotted white;">
            <li class="list-group-item"><h3>Hostel no. :</h3></li></button>
            <button class="btn btn-dark"   type="button" style="border: dotted white;">
            <li class="list-group-item"><h3>Room no. :</h3></li></button>
            <button class="btn btn-dark"   type="button" style="border: dotted;">
            <li class="list-group-item"><h3>Entry Time :</h3></li></button>
          </ul>
          
        </div>
    </div>
    
  </div>
</div>
