<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hostel_entry-exit</title>
    <style>*{
      background-color: rgb(27, 27, 27);
      color: rgb(149, 153, 153);
      margin: 2px;
  }
 
  </style>
</head>
<body>
    
</body>
</html>

<nav class="navbar navbar-expand-lg bg-body-tertiary" style=" border: solid rgb(27, 27, 27); border-width: 5px;">
  <div class="container-fluid">
    <img src="https://www.cse.iitb.ac.in/images/iitblogowhite.png" alt="" style="height: 60px;">
    <a class="navbar-brand" href="#" style="color: white;">Hostel Entry Exit</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <button type="button"  class="btn btn-success navbar-btn" routerLink="/dashboard">Dashboard</button>
        <button type="button"  class="btn btn-success navbar-btn" (click)="nodata=true">Back</button>
        <button type="button"  class="btn btn-success navbar-btn" (click)="sendData()">Accept</button>
        
      </ul>
      
      <button class="btn btn-danger navbar-btn" (click)="deleteKey()" >Log out</button>
      
    </div>
  </div>
</nav>
<div *ngIf="nodata" class="new" style="background: rgb(27, 27, 27); width: 99.8%; height: 685px; margin: 2px; text-align: center; " > <h1 > <div class="input-group mb-3">
 
  <input type="text" class="form-control" placeholder=" Input Visitor 1 Roll Number" aria-label="Example text with button addon" aria-describedby="button-addon1" [(ngModel)]="rollnum_1">

  <input type="text" class="form-control" placeholder=" Input Visitor 2 Roll Number" aria-label="Example text with button addon" aria-describedby="button-addon1" [(ngModel)]="rollnum_2">
  <br>
  
</div> </h1>
 <button class="btn btn-success" type="button" id="button-addon1"  (click)="getusers()">Enter</button>
 {{user2.name}}
</div>


<div *ngIf="!nodata">
<div class="container text-center"  style="margin: 3px; align-content: center;" >
  <div class="new" style="background: rgb(27, 27, 27); width: 99.8%; height: 660px; margin: 2px; text-align: center; " > <h1 > <div class="input-group mb-3"></div>
    <div class="container text-center"  style="margin: 3px; align-content: center;" >
  
  <div class="row">
    
    <div class="col" style="border: solid white;">
      <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#myModal" >
      <div class="card" style="width: 15rem;" >
        <img src="https://imgs.search.brave.com/Fb01hv_9_ZkKDdztFAOQl0ebj33lR9KHph5aHGcguEw/rs:fit:464:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5O/MERWZ2pMYW53eHFL/OE5PMUJpTVBRSGFI/ayZwaWQ9QXBp" class="card-img-top" alt="...">
        <div class="card-body">
        
          <p class="card-text"><h2>Visitor 1</h2>
        </div>
        <ul class="list-group list-group-flush">
          <button class="btn btn-dark"   type="button" style="border:solid white;" disabled>
          <li class="list-group-item" ><h3 >{{user1.name}}</h3></li> </button>
          <button class="btn btn-dark"   type="button" style="border:solid white;" disabled>
          <li class="list-group-item"><h3>{{user1.roll_no}}</h3> </li></button>
          <button class="btn btn-dark"   type="button" style="border: solid white ;" disabled>
          <li class="list-group-item"><h3>Hostel{{user1.hostel_no}} </h3></li></button>
         
        </ul> 
        
      </div> </button>
      

  
    
  </div>
    
    <div class="col" style="border: solid white;">
      <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#myModal" >
      <div class="card" style="width: 15rem;" >
        <img src="https://imgs.search.brave.com/Fb01hv_9_ZkKDdztFAOQl0ebj33lR9KHph5aHGcguEw/rs:fit:464:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5O/MERWZ2pMYW53eHFL/OE5PMUJpTVBRSGFI/ayZwaWQ9QXBp" class="card-img-top" alt="...">
        <div class="card-body">
        
          <p class="card-text"><h2>Visitor 2</h2>
        </div>
        <ul class="list-group list-group-flush">
          <button class="btn btn-dark"   type="button" style="border:solid white;" disabled>
          <li class="list-group-item" ><h3 >{{user2.name}}</h3></li> </button>
          <button class="btn btn-dark"   type="button" style="border:solid white;" disabled>
            <li class="list-group-item"><h3>{{user2.roll_no}} </h3> </li></button>
            <button class="btn btn-dark"   type="button" style="border: solid white ;" disabled>
          <li class="list-group-item"><h3>Hostel{{user2.hostel_no}}</h3></li></button>
        
         
           
        
      
      

            
        
    

    
  



  