
*{
    /*background-color: rgb(27, 27, 27);*/
    color: rgb(255, 255, 255);
}
img{
    height: 500px;
    width: 500px;
    border-radius: 20px;
  }
  .btn-success {
    position:relative;
    z-index:2;
    --bs-btn-bg: #198754 !important;
  }
  .form-control-lg{
    border-radius: 0.75rem;
  }
  .form-control{
   background-color:#adb5bd;
    border: 4px solid #b7b9ba;
  }
  img[_ngcontent-wie-c18] {
    height: 450px;
    width: 470px;
    
  }
  .form{
    background-color: black ;
  }
  

