<div class="bg-dark">
  <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-7 col-lg-7 col-xl-5 col-sm-10">
            <img src="https://www.cse.iitb.ac.in/images/iitblogowhite.png"
              class="img-fluid  width: 100% \9" alt="IIT_Logo">
          </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          
            <!-- User ID -->
            <div class="form-outline mb-4">
              <input type="text" id="form1Example13" class="form-control form-control-lg" [(ngModel)]="user_id" />
              <label class="form-label" for="form1Example13">User ID</label>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="form1Example23" class="form-control form-control-lg" [(ngModel)]="password" />
              <label class="form-label" for="form1Example23">Password</label>
            </div>
  
            
  
            <!-- Sign in button -->
            <button type="submit" class="btn btn-success btn-lg btn-block"  (click)="sign_in()">Sign in</button>
          
        </div>
      </div>
    </div>
  </section>
</div>
  