
<nav class="navbar navbar-inverse navbar-dark bg-dark navbar sticky-top " >
    <div class="container-fluid">
      <img src="https://www.cse.iitb.ac.in/images/iitblogowhite.png" alt="IIT_Logo" style="height: 104px;">

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success" type="submit">Search</button>
      </form>
      <div class="d-flex flex-row-reverse">
      <button class="btn btn-danger navbar-btn" (click)="logout()">Log out</button>
      <button class="btn btn-success navbar-btn" disabled>History</button>
      
      <button class="btn btn-success navbar-btn" routerLink="/dashboard">Current Visitors</button>
      <button class="btn btn-success navbar-btn" routerLink="/info">Back</button>
    </div>
    </div>
  </nav>
  <div class="bg-secondary" >
  
    <div class="d-grid " *ngFor=" let data of indata">
      <div class="flex-data" *ngIf="data.h_num == h_num">
        <button type="button" class="btn btn-dark btn-lg btn-block gap-2 flex-data">
        <div class="data-item">{{data.name_1}}</div>
        <div class="data-item">{{data.name_2}}</div>
        <div class="data-item">{{data.rollnum_1}}</div>
        <div class="data-item">{{data.rollnum_2}}</div>            
        <div class="data-item">{{data.in_time |date:'medium'}}</div> 
        <div class="data-item">{{data.out_time |date:'medium'}}</div>  
      </button>
      </div>
    </div>
    
  </div>
  
    
  
