
<nav class="navbar navbar-inverse navbar-dark bg-dark navbar sticky-top " >
    <div class="container-fluid">
      <img src="https://www.cse.iitb.ac.in/images/iitblogowhite.png" alt="IIT_Logo" style="height: 104px;">

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success" type="submit">Search</button>
      </form>
      <div class="d-flex flex-row-reverse">
      <button class="btn btn-danger navbar-btn" routerLink="/">Log out</button>
      <button class="btn btn-success navbar-btn" disabled>History</button>
      
      <button class="btn btn-success navbar-btn" routerLink="/dashboard">Current Visitors</button>
      <button class="btn btn-success navbar-btn" routerLink="/newcomp">Back</button>
    </div>
    </div>
  </nav>
  <div class=" bg-secondary" >
    <div class="d-grid gap-0.1">
      <button class="btn btn-dark"  style= "--bs-btn-padding-y: 2.75rem;" type="button">
        <div class="d-flex justify-content-between mr-5 ml-5">
          <h3>Host Name</h3>
          <h3>Visitor Name</h3>
          <h3>Room No.</h3>
          <h3>Sign in Time</h3>       
          <h3>Exit Time</h3>       
        </div>
      </button>
      <button class="btn btn-dark"  style= "--bs-btn-padding-y: 3.25rem;" type="button">
        <div class="d-flex justify-content-between mr-5 ml-5">
          <h3>Host Name</h3>
          <h3>Visitor Name</h3>
          <h3>Room No.</h3>
          <h3>Sign in Time</h3> 
          <h3>Exit Time</h3>      
        </div>
      </button>
      <button class="btn btn-dark"  style= "--bs-btn-padding-y: 3.25rem;" type="button">
        <div class="d-flex justify-content-between mr-5 ml-5">
          <h3>Host Name</h3>
          <h3>Visitor Name</h3>
          <h3>Room No.</h3>
          <h3>Sign in Time</h3> 
          <h3>Exit Time</h3>      
        </div>
      </button>
      <button class="btn btn-dark"  style= "--bs-btn-padding-y: 3.25rem;" type="button">
        <div class="d-flex justify-content-between mr-5 ml-5">
          <h3>Host Name</h3>
          <h3>Visitor Name</h3>
          <h3>Room No.</h3>
          <h3>Sign in Time</h3> 
          <h3>Exit Time</h3>      
        </div>
      </button>
      <button class="btn btn-dark"  style= "--bs-btn-padding-y: 3.25rem;" type="button">
        <div class="d-flex justify-content-between mr-5 ml-5">
          <h3>Host Name</h3>
          <h3>Visitor Name</h3>
          <h3>Room No.</h3>
          <h3>Sign in Time</h3>  
          <h3>Exit Time</h3>     
        </div>
      </button>
  
    </div>
    
  
