.btn{
    --bs-btn-padding-y: 0.5rem; 
    --bs-btn-padding-x: 1.75rem;  
}
button, input, optgroup, select, textarea {
    margin: 14px;
}
.flex-data{
    display:flex;
    flex-direction: row;
    width: 100%;
   justify-content: space-between;
    padding: 30px 0px ;
}

.data-item{
    width: 10vw;
}
