
<nav class="navbar navbar-expand-lg bg-body-tertiary" style=" border: solid rgb(27, 25, 25); border-width: 5px;">
  <div class="container-fluid">
    <img src="https://www.cse.iitb.ac.in/images/iitblogowhite.png" alt="" style="height: 60px;">
    <a class="navbar-brand" href="#" style="color: white;">Hostel Entry Exit</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <button class="btn btn-success navbar-btn" routerLink="/dashboard">Dashboard</button>       
      </ul>
      
      <button class="btn btn-danger navbar-btn" routerLink="/"> Log out</button>
      
    </div>
  </div>
</nav>

